*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    
  color: #e8eef4;
}

input,
select,
button {
  font: inherit;
}
